# Prerequisites
*.d
.DS_store
cmake-build-debug/
*.json

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
cmake-build-debug/.cmake/api/v1/reply/cache-v2-d13a52a299b9e15ba1fb.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-395dc59f68f6806b567d.json
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/3.17.5/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.17.5/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.17.5/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.17.5/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.17.5/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.17.5/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.17.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/DatalogParser.dir/build.make
cmake-build-debug/CMakeFiles/DatalogParser.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/DatalogParser.dir/CXX.includecache
cmake-build-debug/CMakeFiles/DatalogParser.dir/depend.internal
cmake-build-debug/CMakeFiles/DatalogParser.dir/depend.make
cmake-build-debug/CMakeFiles/DatalogParser.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/DatalogParser.dir/flags.make
cmake-build-debug/CMakeFiles/DatalogParser.dir/link.txt
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/DatalogParser.cbp
cmake-build-debug/Makefile
cmake-build-debug/Testing/Temporary/LastTest.log
project4-passoff/100/Icon
project4-passoff/20/Icon
project4-passoff/40/Icon
project4-passoff/60/Icon
project4-passoff/80/Icon
project4-passoff/Icon
